#male .active {
    background-color:#a2662a;
}

#male .inactive {
	background-color:Peru;
}

#female .active {
	background-color:SeaGreen;
}

#female .inactive {
	background-color:MediumAquamarine;
}

th {
    background-color: SteelBlue;
    color:white;
}